<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <
    <title>@ViewData["Title"]</title>
    <!--

    Tooplate 2095 Level

    https://www.tooplate.com/view/2095-level

    -->
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="/text/css" href="/slick/slick-theme.css" />
    <link rel="stylesheet" type="/text/css" href="/css/datepicker.css" />
    <link rel="stylesheet" href="/css/tooplate-style.css">

</head>

<body>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">

            <div class="container">
                <div class="row">

                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="#">
                            <img src="/img/Screenshot 2024-01-17 162311.png" alt="Site logo">
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                                data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white" style="margin-top: -10px;">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                                        Home
                                    </a>

                                </li>
                                @if (Context.Session.GetInt32("Role") == 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-4">Tìm Chuyến Bay</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-4">Vé Máy Bay</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-5">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.facebook.com/messages/t/216300264897134">Liên Hệ 5VIVU</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link"><i class="fa fa-user-o" aria-hidden="true"></i></a>

                                        <ul class="sub-menu">
                                            <li>
                                                <a asp-controller="FlightHistory" asp-action="ViewHistory"
                                                   asp-route-userId="@((int?)Context.Session.GetInt32("Id"))">Vé đã mua</a>

                                            </li>
                                            <li>
                                                <a asp-controller="EditProfile" asp-action="Index" asp-route-Id="@((int?)Context.Session.GetInt32("Id"))">Edit Hồ Sơ</a>
                                            </li>
                                            <li>
                                                <a asp-controller="ResetPassword" asp-action="index">Đổi Mật khẩu</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Account" asp-action="Logout">
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else if (Context.Session.GetInt32("Role") == 1)
                                {
                                    <partial name="~/Views/Admin/AdminHome.cshtml" />

                                }
                                else if (Context.Session.GetInt32("Role") == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-4">Tìm Chuyến Bay</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-4">Vé Máy Bay</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tm-section-5">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.facebook.com/messages/t/216300264897134">Liên Hệ 5VIVU</a>
                                    </li>
                                    <ul class="navbar-nav ">
                                        <li class="nav-item">
                                            <a class="nav-link" href="Account/Login">
                                                <i class="fa fa-user-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top border-bottom footer text-muted">
            <div class="container">
                <div class="row">
                    <p class="col-sm-12 text-center tm-font-dark tm-color-dark  p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2024</span> 5VIVU GROUP
                        <br>
                        Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Tooplate</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <!-- load JS files -->
    <script src="/js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> <!-- https://getbootstrap.com/ -->
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/jquery.singlePageNav.min.js"></script>
    <script>

        var map = '';
        var center;

        function initialize() {
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(-23.013104, -43.394365),
                scrollwheel: false
            };

            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

            google.maps.event.addDomListener(map, 'idle', function () {
                calculateCenter();
            });

            google.maps.event.addDomListener(window, 'resize', function () {
                map.setCenter(center);
            });
        }

        function calculateCenter() {
            center = map.getCenter();
        }

        function loadGoogleMap() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
            document.body.appendChild(script);
        }

        function setCarousel() {

            if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                $('.tm-article-carousel').slick('destroy');
            }

            if ($(window).width() < 438) {
                // Slick carousel
                $('.tm-article-carousel').slick({
                    infinite: false,
                    dots: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            }
            else {
                $('.tm-article-carousel').slick({
                    infinite: false,
                    dots: true,
                    slidesToShow: 2,
                    slidesToScroll: 1
                });
            }
        }

        function setPageNav() {
            if ($(window).width() > 991) {
                $('#tm-top-bar').singlePageNav({
                    currentClass: 'active',
                    offset: 79
                });
            }
            else {
                $('#tm-top-bar').singlePageNav({
                    currentClass: 'active',
                    offset: 65
                });
            }
        }

        function togglePlayPause() {
            vid = $('.tmVideo').get(0);

            if (vid.paused) {
                vid.play();
                $('.tm-btn-play').hide();
                $('.tm-btn-pause').show();
            }
            else {
                vid.pause();
                $('.tm-btn-play').show();
                $('.tm-btn-pause').hide();
            }
        }

        $(document).ready(function () {

            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 100) {
                    $(".tm-top-bar").addClass("active");
                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                    $(".tm-top-bar").removeClass("active");
                }
            });

            // Google Map
            loadGoogleMap();

            // Date Picker
            const pickerCheckIn = datepicker('#inputCheckIn');
            const pickerCheckOut = datepicker('#inputCheckOut');

            // Slick carousel
            setCarousel();
            setPageNav();

            $(window).resize(function () {
                setCarousel();
                setPageNav();
            });

            // Close navbar after clicked
            $('.nav-link').click(function () {
                $('#mainNav').removeClass('show');
            });

            // Control video
            $('.tm-btn-play').click(function () {
                togglePlayPause();
            });

            $('.tm-btn-pause').click(function () {
                togglePlayPause();
            });

            // Update the current year in copyright
            $('.tm-current-year').text(new Date().getFullYear());
        });

    </script>

</body>

</html>

<style>
    ul.sub-menu {
        position: absolute;
        background-color: white;
        width: 110px;
        height: 190px;
        display: none;
        list-style: none;
        padding-left: 10px;
    }
</style>



@*<style>
    .footer {
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>*@