@model string

<div style="padding: 30px; height:100%">

    <h2
        style="color:aqua; text-align:center">OTP đã được gửi về email của bạn, vui lòng kiểm tra email để lấy mã xác thực</h2>
    <form asp-controller="ForgotPassword" asp-action="VerifyOTP" method="post" style="padding: 130px; align-content:center">
        <div class="form-group">
            <label for="otp">Enter OTP:</label>
            <input type="hidden" name="email" value="@ViewBag.Email" />
            <input style="width: 500px; border-radius: 20px;" type="text" class="form-control" id="otp" name="otp" required>
            <input type="hidden" id="email" name="email" value="@Model" />
        </div>
        <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
</div>