@model string
@{
    Layout = "_LayoutFP";
}
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/432772404_1097981234794479_3876536060052007525_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGOaaKd8QqjHU63kWuXqj5OH9yC82a3Aowf3ILzZrcCjO9F905aszqK0t977H0W7q3HBrw6ucVpH_n934grBZ0-&_nc_ohc=n_lLUja3oKAAX_0PR4h&_nc_ht=scontent.fhan2-4.fna&oh=03_AdQoN8Q3PJK7thA7zmuxbnh48jch_m24Z0pR4HVzTUnRUw&oe=662A12DA">
        </div>
        <div class="back">
        </div>
    </div>
    <div class="forms">
        <div class="form-content" style="padding: 60px; padding-top: 120px;">
            <div class="password-reset-form">
                <div class="title">Đổi mật khẩu</div>
                <!-- Thông báo hoặc hướng dẫn cho người dùng -->
                <p>Vui lòng nhập mật khẩu mới:</p>
<form asp-controller="ForgotPassword" asp-action="UpdatePassword" method="post">
    <input type="hidden" name="email" value="@ViewBag.Email"> <!-- Trường ẩn để truyền email -->
  <div class="input-boxes">
                        <div class="form-group input-box ">
        <i class="fa fa-key" ></i>
        <label for="password"></label>
        <input type="password" class="form-control" id="password" name="newPassword" required>
    </div>
                        <button type="submit" class="btn btn-primary input-box">Đổi mật khẩu</button>
                    </div>
</form>
</div>
</div></div></div>



@* @model string

 <form asp-controller="ForgotPassword" asp-action="UpdatePassword" method="post">
    <div class="form-group">
        <label for="password">Enter new password:</label>
        <input type="password" class="form-control" id="password" name="newPassword" required>
        <input type="hidden" name="email" value="@ViewBag.Email">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
 
 *@