body {
}
.table-container {
    margin-top: 20px;

}

.search-btn {
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.table-container {
    display: flex;
    width: 100%; 
    margin-top: 20px; 
}
